# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @nwiizo will be requested for review when someone opens a pull request.
*       @nwiizo

# Specific file ownership
/src/   @nwiizo
/docs/  @nwiizo
/.github/ @nwiizo 